<h1>Un Art-eek-ul</h1>

<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you super sure?" } %> </li>
</ul>


