<h1>Un Art-eek-ul</h1>

<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
<li><%= button_to "Destroy", @article, method: :delete, data: {confirm: "oh really?"}%> </li>
</ul>


